*{
box-sizing:border-box;
}
body{
    
}

.row{
    display: flex;
    flex-wrap: wrap;
   padding: 0px 4px;
}
.column{
    display: flex;
        flex: 25%;
   
    background-color:#993333;
    border-right: 1px solid  rgb(185,122,87);
    height: 100%;
justify-content: center;
}    
.row a{
    text-decoration: none;
     color: white;
    padding: 14px 20px;
    height:100%;
	padding:0px 20px;
	
      
}
.row a:hover{
      background-color:rgb(221,190,74);
    color: black;
	width:100%;
   
   
  
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
        height: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
        height: 25%;
    }
}
